body {
    background-color: black;
    color: white;
}

.post-preview {
    display: flex;

    gap: 70px;
    align-items: center;

}


.post-preview img {
    min-width: 80%;
    height: 100%;
}

.post-preview a:link,
.post-preview a:visited {
    color: white;
}

.post-preview a:hover {
    color: coral;
}

.post-content {
    width: 100%;
}

.post-title {
    width: 25rem;
    font-size: 2rem
}

header.masthead {}

.post-user {
    color: coral;
}

.meta a {
    padding-right: 20px;
    font-size: 14px;
}

.meta .fa-heart:hover {
    color: red;
}

.meta .fa-thumbs-o-down:hover {
    color: blue;
}

.meta .fa-plus:hover {
    color: orangered;
}

#tab-users,
#tab-coms,
#tab-articles {
    display: none;
}

@media only screen and (max-width: 1200px) {
    .post-preview {
        display: flex;
        flex-wrap: wrap;
        gap: 70px;
        align-items: center;
        justify-content: center;
    }

    .table-responsive {
        font-size: 0.8rem;
    }

    .post-preview img {
        min-width: 100%;
        height: 100%;
    }

    .post-title {
        min-width: 90%;
    }

    .btn {
        padding: 3px;
        font-size: 10px
    }
}