{% extends 'base.html.twig' %}
{% block body %}
<h1>Bienvenue dans le blog du {{title}}</h1>
<p>loremkmjfkqsjdklsqdkqsjsdklqjdklsqjdlksqjkldjsqkldjksqljdklsqjkdljsqkldjlksqjdqsj</p>
<p>loremkmjfkqsjdklsqdkqsjsdklqjdklsqjdlksqjkldjsqkldjksqljdklsqjkdljsqkldjlksqjdqsj</p>
<p>loremkmjfkqsjdklsqdkqsjsdklqjdklsqjdlksqjkldjsqkldjksqljdklsqjkdljsqkldjlksqjdqsj</p>
<p>loremkmjfkqsjdklsqdkqsjsdklqjdklsqjdlksqjkldjsqkldjksqljdklsqjkdljsqkldjlksqjdqsj</p>
{% endblock %}