{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!
{% endblock %}

{% block body %}
	<section class="articles">
		<article>
			<h2>Titre de l'article</h2>
			<div class="metadata">Ecrit le 10/05/2023 à 20:00 dans la catégorie Politique</div>
			<div class="content">
				<img src="http://placehold.it/350x150" alt="">
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum iste natus cum dolor veritatis eaque.</p>
				<p>Minima officia exercitationem repellendus deserunt a. Molestias illum suscipit aperiam nemo ab rem a dolorum.</p>
				<a href="" class="btn btn-primary">Lire la suite</a>
			</div>
		</article>
		<article>
			<h2>Titre de l'article</h2>
			<div class="metadata">Ecrit le 10/05/2023 à 20:00 dans la catégorie Politique</div>
			<div class="content">
				<img src="http://placehold.it/350x150" alt="">
				<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda illum accusamus magnam saepe delectus facilis.</p>
				<p>Voluptates quo explicabo deserunt quas recusandae minus enim modi, nihil harum odio sed illum vitae.</p>
				<a href="" class="btn btn-primary">Lire la suite</a>
			</div>
		</article>
		<article>
			<h2>Titre de l'article</h2>
			<div class="metadata">Ecrit le 10/05/2023 à 20:00 dans la catégorie Politique</div>
			<div class="content">
				<img src="http://placehold.it/350x150" alt="">
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi dolor quo eos inventore rem maiores?</p>
				<p>Quaerat quos recusandae, laudantium, libero qui incidunt adipisci quibusdam quae assumenda ad pariatur, quam molestias!</p>
				<a href="" class="btn btn-primary">Lire la suite</a>
			</div>
		</article>
	{% endblock %}
